<!DOCTYPE html>
<html>
<head>
<style>
body { font-family:Arial; background:#f4f6f9; }
table { width:100%; border-collapse:collapse; }
th, td { padding:10px; text-align:center; }
th { background:#2c3e50; color:white; }
.btn { padding:5px 10px; color:white; text-decoration:none; }
.green { background:green; }
.red { background:red; }
</style>
</head>

<body>

<h2>Bookings</h2>

<table>
<tr>
<th>ID</th><th>Student</th><th>Room</th><th>Date</th><th>Status</th><th>Action</th>
</tr>

{% for b in bookings %}
<tr>
<td>{{ b[0] }}</td>
<td>{{ b[1] }}</td>
<td>{{ b[2] }}</td>
<td>{{ b[3] }}</td>
<td>{{ b[4] }}</td>
<td>
<a class="btn green" href="/approve/{{ b[0] }}">Approve</a>
<a class="btn red" href="/reject/{{ b[0] }}">Reject</a>
</td>
</tr>
{% endfor %}

</table>

<a href="/admin_dashboard">Back</a>

</body>
</html>